# dirs to ignore
ARCHIVE/

# files to ignore
*.note
*.sw*
*.bak
*.sw*
*.bak
TODO

# linthtml configuration
.htmllintrc

# reaveal.js to ignore
.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
dist/*.map
